<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="/qstyle.css">
</head>
<body>
    <div class="container">
        <div id="initialMessage">
            <h1>Get ready for the quiz!</h1>
            <button id="startButton">Start Quiz</button>
        </div>
        <div id="quizContainer" class="hidden">
            <div id="questions"></div>
            <button id="submitButton">Submit Quiz</button>
        </div>
        <div id="result" class="hidden"></div>
    </div>
    <script src="/script.js"></script>
</body>
</html>